@font-face {
  font-family: "fipp";
  src: url("./assets/font.otf");
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "fipp";
}

body {
  margin: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
